.circle {
    width: calc(100%/3);
    margin: 6px 0 20px;
    display: block;
	float: left;
    position: relative;
    text-align: center;
    line-height: 1.2;
	cursor: help;
}

.circle canvas {
    vertical-align: top;
}

.circle strong {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 8pt;
	color: #aaa;
}

.circle strong i {
    font-style: normal;
    font-size: 0.6em;
    font-weight: normal;
}

.circle span {
    display: block;
    color: #aaa;
    margin-top: 12px;
}

.circle p {
	font-size: 7pt;
	margin: 3px;
	color: #aaa;
}